<main>
    <div class="container">

        <section class="details">
            <h1>Theater title: {{play.title}}</h1>
            <div>
                <img src="{{play.image}}" />
            </div>
        </section>

        <section class="details">
            <h3>Theater Description</h3>
            <p>{{play.description}}</p>
            <div class="buttons">
                {{#if isOwner}}
                <a class="btn delete" href="/theater/{{play._id}}/delete">Delete</a>
                <a class="btn edit" href="/theater/{{play._id}}/edit">Edit</a>
                {{else}}
                    {{#unless isLiked}}
                <a class="btn like" href="/theater/{{play._id}}/like">Like</a>
                    {{else}}
                <span class="liked">You have already liked this play!</span>
                    {{/unless}}
                {{/if}}
            </div>
        </section>
    </div>
</main>